/* my css file yayyyyy */

body{
    margin:5px;
    padding:5px;
    line-height:1.15;
 }
  
 h1,h2, h3{
    font-weight: bold;
    margin-top:15px;
  
 }

 ul li{
    margin-left: 25px;
    list-style-type: upper-roman;
 }
 
 nav li{
    display:inline-block;
    background-color: #a47bec;
    padding:10px;
    width:15%;
    border:2px solid black;
    border-radius: 25px;
    margin-top: 20px;
 }

img{
   width: 24%;
   padding: 15px;
   border: 10px rgb(245, 9, 5);
   border-style: dotted;
   

}

 p{
   margin: 20px;
   border: 10px rgb(245, 9, 5);
   padding: 20px;


 }