/* body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #66010b;
    background-color: rgba(250, 235, 215, 0.712);
    line-height: 2;
    font-size: 38px;
}
h1 {
    border: solid 5px rgba(253, 192, 111, 0.712)
}

img{
    border: double 15px rgba(253, 192, 111, 0.712)
}

li {
    border: solid 15px;
} */

body{
    margin:5px;
    padding:5px;
    line-height:1.15;
 }
  
 h1,h2, h3{
    font-weight: bold;
    margin-top:15px;
  
 }
 ul li{
    margin-left: 25px;
    list-style-type: upper-roman;
 }

 nav li {
    display: inline-block;
    background-color: #f284ad;
    margin: 50px;
    border: solid 2px;
    border-radius: 25px;
    padding: 8px 50px;
 }

 img {
     width: 24%;
     padding: 15px;
     border: double 5px hsl(338, 52%, 45%);
     margin: 0;
 }

 p {
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     color:hsl(339, 75%, 13%);
     background-color: hsl(46, 100%, 92%);
     font-size: 20px;
     margin-bottom: 10px;
 }

